<server description="Intro REST Guide Liberty server">

  <featureManager>
      <feature>servlet-5.0</feature>
       <feature>restfulWS-3.0</feature>
         <feature>jsonp-2.0</feature>
         <feature>jsonb-2.0</feature>
  </featureManager>

  <webApplication location="guide-rest-intro.war"/>

</server>
